@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$navbarHeight: 56px;

$fastSpeed: 150ms;
$mediumSpeed: 250ms;
$slowSpeed: 500ms;
